<div class="row">
  <div class="col-md-4">
    <dl class="dl-horizontal">
      {{#if dog.age_string}}{{dog-dl-item key="Age" value=dog.age_string}}{{/if}}
      {{#if dog.date_of_birth}}{{dog-dl-item key="Date of Birth" value=dog.date_of_birth}}{{/if}}
      {{#if dog.is_female}}{{dog-dl-item key="Female?" value=dog.is_female}}{{/if}}
    </dl>

  </div>

  <div class="col-md-4">
    <dl class="dl-horizontal">
      {{#if dog.reference}}{{dog-dl-item key="Shelter reference" value=dog.reference}}{{/if}}
      {{#if dog.size}}{{dog-dl-item key="Size" value=dog.size}}{{/if}}
      {{#if dog.date_added}}{{dog-dl-item key="Date added" value=dog.date_added}}{{/if}}
    </dl>
  </div>

  <div class="col-md-4">
    <dl>
      {{#if dog.status}}{{dog-dl-item key="Status" value=dog.status}}{{/if}}
      {{#if dog.home_tested}}{{dog-dl-item key="Home tested" value=dog.home_tested}}{{/if}}
      {{#if dog.child_friendly}}{{dog-dl-item key="Child friendly" value=dog.child_friendly}}{{/if}}
    </dl>
  </div>

</div>
